[Desktop Entry]
Name=IceBreaker
Type=Application
Comment=An addictive action-puzzle game involving bouncing penguins
Comment[pl]=Wciągająca gra zręcznościowo-łamigłówkowa z podskakującymi pingwinkami
Exec=icebreaker
Icon=icebreaker.png
Terminal=0
Encoding=UTF-8
# vi: encoding=utf-8
